* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../image/Black-Hat-Red-Tie-Black-Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header, main, footer {
    width: 68%;
}

header {
    display: flex;
    justify-content: space-between;
    color:wheat;
    background-color: rgb(26, 26, 26);
    box-shadow: 0 0 90px black inset;
    padding: 30px;
}

h1 {
    text-shadow: 1px 1px 2px black, 0 0px 15px tan;
}

header a {
    padding-left: 15px;
    font-size: 28px;
    color: wheat;
}

section {
    padding-top: 20px;
    margin-left: 30px;
}

h2 {
    color: rgb(180, 9, 9);
    text-shadow: 1px 1px 2px black;
}

p {
    margin: 5px 0 0 25px;
    line-height: 25px;
}

.firstProject {
    margin-top: 10px;
    width: 350px;
    border: 10px solid #A15847;
    border-radius: 5px;
}

.firstProject:hover {
    
}

.placeholderProject {
    width: 250px;
    border: 10px solid #57A187;
}

footer {
    margin-top: 20px;
    text-align: center;
}