* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {

}

header {

}

h1 {

}

nav {

}

a {

}

main {

}

section {

}

h2 {

}

p {

}

img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

footer {
    
}