* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../image/Black-Hat-Red-Tie-Black-Background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

header {
    display: flex;
    padding: 30px;
    width: 70%;
}

h1 {
    color:#57A187;
    text-shadow: 1px 1px 2px black, 0 0px 15px #77A192;
    /* background-color: #543C36; */
}

nav {

}

a {

}

main {
    margin:60px;
}

section {

}

h2 {
    color: #A15847;
    text-shadow: 1px 1px 2px black;
}

p {

}

img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

footer {
    text-align: center;
}